In [1]:
import pandas as pd
import csv

In [2]:
df= pd.read_json('https://data.austintexas.gov/resource/9t4d-g238.json')
df

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A794011,Chunk,2019-05-08 18:20:00,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,NaN
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,NaN
2,A821648,NaN,2020-08-16 11:38:00,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,NaN
3,A720371,Moose,2016-02-13 17:59:00,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,NaN
4,A674754,NaN,2014-03-18 11:47:00,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,Partner
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A796517,Chiquis,2019-06-08 12:21:00,2019-06-08T12:21:00.000,2017-06-02T00:00:00.000,Adoption,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,Brown/White,NaN
996,A881605,*Berlin,2023-06-13 19:16:00,2023-06-13T19:16:00.000,2023-04-25T00:00:00.000,Died,Cat,Intact Male,1 month,Domestic Shorthair,Black,In Kennel
997,A772727,Oreo,2018-06-06 18:28:00,2018-06-06T18:28:00.000,2017-12-07T00:00:00.000,Return to Owner,Dog,Spayed Female,5 months,Basset Hound Mix,White/Tricolor,NaN
998,A796856,NaN,2019-06-12 13:31:00,2019-06-12T13:31:00.000,2019-01-06T00:00:00.000,Transfer,Dog,Intact Male,5 months,German Shepherd,Brown,Partner
999,A741753,NaN,2017-01-08 09:00:00,2017-01-08T09:00:00.000,2016-01-07T00:00:00.000,Transfer,Cat,Intact Male,1 year,Domestic Shorthair Mix,Black/White,SCRP

In [6]:
df.head(10)

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A794011,Chunk,2019-05-08 18:20:00,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,NaN
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,NaN
2,A821648,NaN,2020-08-16 11:38:00,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,NaN
3,A720371,Moose,2016-02-13 17:59:00,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,NaN
4,A674754,NaN,2014-03-18 11:47:00,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,Partner
5,A659412,Princess,2020-10-05 14:37:00,2020-10-05T14:37:00.000,2013-03-24T00:00:00.000,Adoption,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown,NaN
6,A814515,Quentin,2020-05-06 07:59:00,2020-05-06T07:59:00.000,2018-03-01T00:00:00.000,Adoption,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown,Foster
7,A881795,NaN,2023-06-13 07:13:00,2023-06-13T07:13:00.000,2021-05-26T00:00:00.000,Transfer,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby,Snr
8,A689724,Donatello,2014-10-18 18:52:00,2014-10-18T18:52:00.000,2014-08-01T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,NaN
9,A680969,Zeus,2014-08-05 16:59:00,2014-08-05T16:59:00.000,2014-06-03T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby,NaN

In [5]:
df["name"]=df["name"].str.replace('*','', regex=True)

In [7]:
df.to_csv('html_cracked.csv', index=False)